/* General styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h2, h3 {
    text-align: left;
    margin-top: 0;
}

/* Navigation styles */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

.printButton{
    align-items: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Main container */
main {
    padding: 20px;
    max-width: 1250px;
    margin: 0 auto;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    font-size: 12px;
}

/* Event styles */
#eventsContainer {
    margin-bottom: 20px;
}

#eventsContainer h3 {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border-radius: 5px;
}

#eventsContainer button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 10px;
}

#eventsContainer button:hover {
    background-color: #0056b3;
}

/* Table styles */
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 12px;

}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
    height: min-content;
}

th {
    background-color: #f2f2f2;
}

thead th {
    background-color: #007bff;
    color: white;
}

.column-lane {
    width: 20px;
}

.column-name {
    width: 150px;
}

.column-dob {
    width: 60px;
}

.column-club {
    width: 100px;
}

.column-mm, .column-ss, .column-ms {
    width: 50px;
}

input[type="text"] {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 2px;
    text-align: center;
}

input[type="text"]:disabled {
    background-color: #e9ecef;
}

tr{
    height: 5px;
}
/* Drag and drop styles */
tr.dragged {
    opacity: 0.5;
}

tr.dragged-over {
    border: 2px dashed #007bff;
}

/* Responsive styles */
@media (max-width: 768px) {
    th, td {
        padding: 6px;
    }

    #eventsContainer button {
        font-size: 12px;
        padding: 6px 10px;
    }

    input[type="text"] {
        padding: 4px;
    }
}

#daySelectorContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.day-button {
    margin: 0 10px;
    padding: 10px 20px;
    cursor: pointer;
}

.day-button.active {
    background-color: #007bff;
    color: #fff;
}

.swimmer-dropdown {
    max-height: 200px;
    overflow-y: auto;
}

/* Print Styles */
@media print {
    body * {
        visibility: hidden;
    }
    #eventsContainer, #eventsContainer *, #finalsContainer, #finalsContainer * {
        visibility: visible;
    }
    #eventsContainer, #finalsContainer {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto;
    }
    #printButton, #printFinalsButton, .edit-button {
        display: none;
    }
    .event-container, .finals-container {
        page-break-inside: avoid; /* Avoid page break inside this container */
        margin-bottom: 10px; /* Space between events */
    }
    table {
        border-collapse: collapse;
        width: 100%;
        border: 1px solid #000; /* Add border to each table */
        margin-bottom: 20px; /* Reduce space between tables */
        font-size: 10px; /* Reduce font size to fit more content */
    }
    th, td {
        padding: 2px; /* Reduce padding */
        line-height: 1; /* Reduce line height */
        border: 1px solid #000; /* Ensure border between every row and column */
    }
    tr.event-title-row th {
        text-align: left;
        background-color: #f2f2f2;
        border: 1px solid #000;
        font-size: 10px; /* Reduce font size for event name */
    }
    tr.event-title-row th[colspan] {
        border-bottom: 1px solid #000;
    }
    tr, th, td {
        height: auto; /* Let height adjust automatically */
        border: 1px solid #000; /* Ensure border between every row and column */
    }
    tr td {
        vertical-align: middle; /* Center text vertically */
        border: 1px solid #000; /* Ensure border between every row and column */
    }
    /* .page-break {
        page-break-after: always;
    } */
    .page-break-avoid {
        page-break-inside: avoid;
    }
    .event-wrapper {
        page-break-inside: avoid;
        margin-bottom: 15px;
    }
    
    /* Ensure no more than 3 tables per page */
    table {
        page-break-inside: avoid;
    }

    /* After every 3rd table, force a page break */
    table:nth-of-type(3n) {
        page-break-after: always; /* Page break after every 3rd table */
    }

    /* Ensure at least 2 tables are printed per page */
    table:nth-of-type(2n+1) {
        page-break-before: auto; /* Ensure at least 2 tables before a page break */
    }
    .add-swimmer-button {
        display: none;
    }
}
