body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f8f9fa;
}

header {
    background-color: #007bff;
    color: white;
    padding: 10px 0;
    text-align: center;
}

h2 {
    text-align: center;
    margin-top: 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin: 0;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input, form select, form button {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #0056b3;
}

#swimmer-list-section {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#swimmer-list {
    list-style: none;
    padding: 0;
}

#swimmer-list li {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

#swimmer-list li:last-child {
    border-bottom: none;
}

#event-list {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    padding: 10px;
}

#event-list div {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Align items to the left */
    margin-bottom: 10px;
    padding-left: 0; /* Remove padding to the left */
}

#event-list input[type="checkbox"] {
    margin-right: 2rem; /* Space between the checkbox and the text */
}

#event-list div label {
    flex: 1; /* Allow the label to take up remaining space */
    word-wrap: break-word; /* Ensure the text wraps to the next line if it's too long */
}
#last-swimmer {
    width: 100%;
    border-collapse: collapse;
}

#last-swimmer td {
    padding: 10px;
    border: 1px solid #ccc;
}